.GalleryBoylston{
  position: relative;
  padding-bottom: 25px;

  width: 986px;
  margin: 0 auto;
}



.GalleryBoylston .slider{
  position: relative;
  overflow: hidden;
  width: 786px;
  height: 530px;
}


.GalleryBoylston.small .slider{
  width: 484px;
  height: 460px;
}



.GalleryBoylston .slider img[src*="1.png"],
.GalleryBoylston .slider img[src*="2.png"],
.GalleryBoylston .slider img[src*="1.png"]
{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

}


.GalleryBoylston .slider .slide{
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
}

.GalleryBoylston .slider .slide .caption{
  display: none;
}


.GalleryBoylston #Caption{
  float: left;
  margin-top: 9px;
}

.GalleryBoylston #Caption p.caption
{
  margin: 0;

}

.GalleryBoylston #Size{
  float: right;
  font-size: 90%;
  color: #aaa;

}

#EditGallery.GalleryBoylston #Caption {
 clear: both;
}

#EditGallery.GalleryBoylston #Caption p{
  background-color: #eee;
  min-height: 20px;
  min-width: 100px;
  padding: 5px;


}

.GalleryBoylston #SlideLink
{
  display: none;

}

#SlideInfo {
  overflow: hidden;
  float: left;
  min-height: 100px;
}

#EditGallery.GalleryBoylston #SlideLink
{
  display: block;
  background-color: #eee;
  min-height: 20px;
  float: left;
  min-width: 100px;
  padding: 5px;
  margin: 5px 0 10px 2px;

}

.GalleryBoylston #SlideInfo form{
  padding: 10px  0

}

.GalleryBoylston #SlideInfo form  input[type="text"],
.GalleryBoylston #SlideInfo form  textarea[type="text"]
{
  width: 400px;
  margin: 5px 0 10px 2px;
}

.GalleryBoylston #SlideInfo p{
  margin: 5px 0 10px 2px

}

.GalleryBoylston .slider .slide
{
  display: none;
}

.GalleryBoylston .slider .slide.top,
.GalleryBoylston .slider .slide.bottom
{
  display: block;
  z-index: 100;
}

#GTitle
{
  border: 0px;
  font-size: 4em;
  margin: 10px auto;


}


.GalleryBoylston .slider .slide.bottom
{
  z-index: 99;
}

.GalleryBoylston .slider .slide .icons{
  overflow: visible;
  height: 0;
  width: 0;
}


.GalleryBoylston .slider .slide .icon{
  position: absolute;
  width: 50px;

}

.GalleryBoylston .slider .slide .icon.ui-draggable-dragging{
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity=70);
        -moz-opacity:0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7;
}

.GalleryBoylston .slider .slide .icon .bubble{
  display: none;
  width: 241px;
  background: url("../images/ububble.png?t=1") 50% 0 no-repeat;
  margin: 0 0 0 -104px;
  padding: 30px 0 5px 0;
  top: 40px;
  position: absolute;
  border: 1px solid #a0a0a0;
  border-width: 0 0 1px 0;
  z-index: 2000;
}


.GalleryBoylston .slider .slide .icon.top .bubble{
  bottom: 40px;
  top: initial;
  top: auto;
  background: url("../images/dbubble.png?t=1") 50% 100% no-repeat;
  padding: 10px 0 20px 0;
  border-width: 1px 0 0 0;
}


.GalleryBoylston .slider .slide .icon .bubble .txt {
  padding: 0 20px 10px 15px;
  margin: 0px;

}

.GalleryBoylston .slider .slide .icon .bubble .txt h3 ,
.GalleryBoylston .slider .slide .icon .bubble .txt p{
  padding: 0 0 10px 0px;
  margin: 0px;

}


.GalleryBoylston .slider .slide .icon .bubble .txt input[type="text"],
.GalleryBoylston .slider .slide .icon .bubble .txt textarea{
  width: 205px
}






.GalleryBoylston .slider .slide .icon a.point{
  display: block;
  background: url("../images/icon_point.png");
  width: 38px;
  height: 39px;
}

.GalleryBoylston .slider .slide .icon.active a.point,
.GalleryBoylston .slider .slide .icon a.point:hover
{
  background: url("../images/icon_active.png");
}

.GalleryBoylston.lookbook .slider .slide .icon.active a.point,
.GalleryBoylston.lookbook .slider .slide .icon a.point:hover
{
  background: url("../images/lookbook_hotspot_hover.png");
}



.GalleryBoylston .Navigation{
  width :100%;
  overflow: hidden;
}


.GalleryBoylston .Navigation .next,
.GalleryBoylston .Navigation .previous{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 70px;
  margin-top: -46px;
  overflow: hidden;

}



.GalleryBoylston .Navigation .next span,
.GalleryBoylston .Navigation .previous span{
  text-indent: -9999px;
  font-size: 0;
  background: url("../images/larr_black_white.png") no-repeat 0 0%;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: -41px;
}

.GalleryBoylston .Navigation .next {
  right: 0px;

}
.GalleryBoylston .Navigation .next span{
  right: 0px;
  background: url("../images/rarr_black_white.png") no-repeat  100% 0%;

  margin-left: 41px;

}

#EditGallery.GalleryBoylston .Navigation .next,
#EditGallery.GalleryBoylston .Navigation .previous{
  margin-top: 10px;
}

#Toolbar
{
  padding: 5px 0 0 0 ;
}

#Toolbar a
{
  padding: 0 10px 0 0;
  color: #222;
  text-decoration: none;
}


#Toolbar a:hover
{
  text-decoration: underline;
}

.GalleryBoylston .Navigation .next,
.GalleryBoylston .Navigation .previous,
.GalleryBoylston .Navigation .counter{
  z-index: 200;
}




.GalleryBoylston .Navigation .previousslide,  .GalleryBoylston .Navigation .nextslide{
  text-indent: -9999px;
  background: url("../images/rarr_black.png") no-repeat 100% 50%;
  display: block;
  float: left;
  width:18px;
  height: 16px;
}
.GalleryBoylston .Navigation .previousslide{
  background: url("../images/larr_black.png") no-repeat  0 50%;
}

.GalleryBoylston .Navigation .count
{
  float: left;

}



.GalleryBoylston .Navigation .counter{

  position: absolute;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}


#SlideDetails,
#dropbox
{

  width: 986px;
  min-height: 150px;
  margin: 20px auto 20px;
  background-color: #ddd;
  overflow: hidden;
  clear:both;
}


#dropbox img
{
  padding: 10px;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}

#SlideDetails h3,
#dropbox h3
{
  padding: 10px 0 0 10px;
}
#gOut
{
  margin: 20px auto;
  text-align: center;
  width: 986px;
  overflow: hidden;

}
#gOut textarea
{
  width: 99%;
}


#SlideDetails img
{
  max-height: 100px;
  clear: both;
  float: left;
  margin: 10px 0 0 80px;

}

#SlideDetails label,
#SlideDetails input
{
  float: left;

}

#SlideDetails textarea
{
  float: left;
  clear: both;
  margin: 10px 0 0;



}

#SlideDetails input
{
  margin: 0 0 10px 20px;
  width: 300px;
}
#SlideDetails label
{
  clear: both;
  width: 60px;



}



#SlideDetails .row
{
 float: left;
 padding: 0 20px 20px;
  overflow: hidden;

}

