.GalleryBoylston{
  position: relative;
  padding-bottom: 25px;
  width: 986px;
  margin: 0 auto;
}



.GalleryBoylston .slider{
  position: relative;
  overflow: visible;
  width: 986px;
  height: 530px;
}



.GalleryBoylston .slider .slide{
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;

}

.GalleryBoylston .slider .slide.top,
.GalleryBoylston .slider .slide.bottom
{
  display: block;
  z-index: 100;

}
#GTitle
{
  border: 0px;
  font-size: 4em;
  margin: 10px auto;


}
.small #GTitle
{
  font-size: 3em;
}

.GalleryBoylston .slider .slide.bottom
{
  z-index: 99;
}

.GalleryBoylston .slider .slide .icons{
  overflow: visible;
  height: 0;
  width: 0;
}


.GalleryBoylston .slider .slide .icon{
  position: absolute;
  width: 50px;

}

.GalleryBoylston .slider .slide .icon.ui-draggable-dragging{
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity=70);
        -moz-opacity:0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7;
}

.GalleryBoylston .slider .slide .icon .bubble{
  display: none;
  width: 241px;
  background: url("../images/ububble.png?t=1") 50% 0 no-repeat;
  margin: 0 0 0 -104px;
  padding: 30px 0 5px 0;
  top: 40px;
  position: absolute;
  border: 1px solid #a0a0a0;
  border-width: 0 0 1px 0;
  z-index: 2000;
}


.GalleryBoylston .slider .slide .icon.top .bubble{
  bottom: 40px;
  top: initial;
  top: auto;
  background: url("../images/dbubble.png?t=1") 50% 100% no-repeat;
  padding: 10px 0 20px 0;
  border-width: 1px 0 0 0;
}


.GalleryBoylston .slider .slide .icon .bubble .txt {
  padding: 0 20px 10px 15px;
  margin: 0px;

}

.GalleryBoylston .slider .slide .icon .bubble .txt h3 ,
.GalleryBoylston .slider .slide .icon .bubble .txt p{
  padding: 0 0 10px 0px;
  margin: 0px;

}


.GalleryBoylston .slider .slide .icon .bubble .txt input[type="text"],
.GalleryBoylston .slider .slide .icon .bubble .txt textarea{
  width: 205px
}






.GalleryBoylston .slider .slide .icon a.point{
  display: block;
  background: url("../images/icon_point.png?t=1");
  width: 38px;
  height: 39px;
}

.GalleryBoylston .slider .slide .icon.active a.point{
  background: url("../images/icon_active.png?t=1");
}


.GalleryBoylston .Navigation .next,
.GalleryBoylston .Navigation .previous{

  position: absolute;
  top: 50%;
  width: 60px;
  height: 50px;
  margin-top: -30px;
  text-indent: -9999px;
  font-size: 0;
  background: url("../images/larr_gal.png") no-repeat 0 50%;

}




#EditGallery.GalleryBoylston .Navigation .next,
#EditGallery.GalleryBoylston .Navigation .previous{
  margin-top: 10px;


}

#Toolbar
{
  float: left;
  padding: 5px 0 0 0 ;



}

#Toolbar a
{
  padding: 0 10px 0 0;
  color: #222;
  text-decoration: none;


}


#Toolbar a:hover
{
  text-decoration: underline;
}

.GalleryBoylston .Navigation .next,
.GalleryBoylston .Navigation .previous,
.GalleryBoylston .Navigation .counter{
  z-index: 200;
}


.GalleryBoylston .Navigation .next{
  right: 10px;
  text-indent: -9999px;
  background: url("../images/rarr_gal.png") no-repeat  100% 50%;

}


.GalleryBoylston .Navigation .previousslide,  .GalleryBoylston .Navigation .nextslide{
  text-indent: -9999px;
  background: url("../images/rarr_black.png") no-repeat 100% 50%;
  display: block;
  float: left;
  width:18px;
  height: 16px;
}
.GalleryBoylston .Navigation .previousslide{
  background: url("../images/larr_black.png") no-repeat  0 50%;
}

.GalleryBoylston .Navigation .count
{
  float: left;

}

.GalleryBoylston .Navigation .previous{

  left: 10px;

}

.GalleryBoylston .Navigation .counter{

  position: absolute;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}



#dropbox
{

  width: 986px;
  min-height: 150px;
  margin: 20px auto 20px;
  background-color: #ddd;


}


#dropbox img
{
  padding: 10px;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}
#dropbox h3
{
  padding: 10px 0 0 10px;
}
#gOut
{
  margin: 20px auto;
  text-align: center;
  width: 986px;
}



.GalleryBoylston.small .slider{
  width: 484px;
  height: 460px;
}
.GalleryBoylston.small{
  width: 484px;
}

.GalleryBoylston.small .slider img[src*="1.png"],
.GalleryBoylston.small .slider img[src*="2.png"],
.GalleryBoylston.small .slider img[src*="1.png"]
{
  width: 484px;
  height: 460px;
}

#dropbox.small,
#gOut.small textarea
{

  width: 482px

}
